.detail {
  all: unset;
  display: flex;
  flex-direction: column;
  padding-left: 11%;
  font-family: "Noto Sans", sans-serif;
}

.summary {
  width: 80%;
  letter-spacing: 1px;
  font-family: "Noto Sans", sans-serif;

}

.posterimage > img {
  display: flex;
  flex-direction: row;

  width: 440px;
  height: 550px;

  border-radius: 1px;
}

.detail__tool {
  display: flex;
  flex-direction: row;
}

.detail__tool {
  padding-top: 9%;
  padding-left: 58px;
}

.detail__intro {
  display: flex;
  flex-direction: row;
}
.detail__intro > h2 {
  all: unset;
  font-size: 20px;
  font-weight: 700;
  font-family: "Noto Sans", sans-serif;
}

.detail__intro > h4 {
  margin-left: 17px;
  font-size: 11px;

  font-weight: 700;
  font-family: "Noto Sans", sans-serif;
  color: rgba(255, 255, 255, 0.5);
}

.detail > h5 {
  all: unset;
  color: rgba(255, 255, 255, 0.9);
  font-family: "Noto Sans", sans-serif;
  font-size: 13px;
  margin-bottom: 6%;
}

.backimage > img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.detail__tool {
  position: relative;
}
.detail__button {
  display: flex;
  flex-direction: row;
  margin-top: 4%;
}
.startbutton {
  all: unset;
  width: 150px;
  height: 38px;
  background-color: #e50914;
  border: 1px solid rgba(211, 5, 5, 0.7);
  border-radius: 5px;
  text-align: center;
  margin-right: 20px;

  cursor: pointer;
}

.likebutton {
  all: unset;
  width: 200px;
  height: 38px;
  background-color: black;
  border: 1px solid rgb(47, 47, 47, 0.7);
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.like {
  all: unset;
  color: transparent;
  text-shadow: 0 0 0 white;
}
@media screen and (max-width: 1000px) {
  .backimage > img {
    width: 100%;
    height: 130vh;
  }

  .posterimage > img {
    display: flex;
    flex-direction: column;
    width: 198px;
    height: 300px;

    padding-left: 80px;
    padding-bottom: 18px;
  }
  .detail__tool {
    padding-top: 28%;
    padding-left: 10px;
    flex-direction: column;
  }
  .detail {
    padding-left: 2%;
    width: 100%;
  }
  .summary {
    width: 71%;
  }
  .startbutton {
    width: 100px;
    height: 38px;
    margin-right: 3px;
  }
  .likebutton {
    width: 160px;
    height: 38px;
  }
}
