@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700;900&display=swap');
.deviceLogo {
  background: url(https://assets.nflxext.com/ffe/siteui/acquisition/simplicity/Devices.png)
    no-repeat 50% 50%;

  position: relative;
  height: 200px;

  width: 500px;
  margin-right: 2%;

}

.freetool {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 10%;

}

.freetool >h5{
    all: unset;
    font-family: 'Noto Sans KR', sans-serif;
    padding-bottom: 10px;
    font-size: 14px;
}

.freetool >h2{
    all: unset;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    padding-bottom: 20px;
    letter-spacing: 1px;
    font-size: 21px;
}

.freetool >h4{
    all: unset;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}