.signinlogo{
    
  position: absolute;
    width: 210px;
    z-index: 222;
}



.signinbox {
  background-color: rgb(0, 0, 0, 0.8);
  width: 450px;
  height: 630px;
  display: flex;
  flex-direction: column;
  z-index: 3;
  position: absolute;
  top: 73px;
  left: 35%;
}

.inform {
  color: white;
  font-size: 32px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 800;

  margin-top: 60px;
  margin-left: 70px;
  margin-bottom: 20px;
}

.form-control {
  margin-top: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.name,
.password {
    all: unset;
    background-color: rgb(51, 51, 51);
    position: relative;
    width: 320px;
    height: 50px;
    z-index: 4;
    border-radius: 4px;
    padding: 2px;
    color: white;
}

.name:hover,
.password:hover{
    all: unset;
    background-color: rgb(69, 69, 69);

    width: 320px;
    height: 50px;
    z-index: 4;
    border-radius: 4px;
    color: white;
    font-size: 15px;

    font-family: "Noto Sans", sans-serif;
    font-weight: lighter;
    padding: 2px;
}

.input:valid {
    padding-left: 20px;
}

input::placeholder {
    font-family: "Noto Sans", sans-serif;
    font-size: 15px;
    font-weight: lighter;
    /* padding: 15px; */
    font-weight: 100;
    color: rgb(140, 140, 140);
}
.signinbutton {
    all: unset;
    background-color: #e50914;
    color: white;
    border-radius: 4px;
    width: 341px;
    height: 53px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;

    font-size: 17px;
    text-align: center;
    font-family: "Noto Sans", sans-serif;
    font-weight: 800;
    margin-top: 20px;
    cursor: pointer;
}

.signinbutton:hover {
    background-color: #9b0910;
    color: rgb(247, 243, 243);
}

.explain {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-self: center;
    width: 341px;
    margin-top: 36px;
}
.plus {
    font-family: "Noto Sans", sans-serif;
  font-size: 15px;
  font-weight: lighter;
  color: rgb(140, 140, 140);
}

.plus > p {
  all: unset;
  color: white;
  cursor: pointer;
}

.plus2 {
    font-family: "Noto Sans", sans-serif;
  font-size: 13px;
  font-weight: lighter;
  color: rgb(140, 140, 140);
  margin-top: 17px;
}

.plus2 > p {
  all: unset;
  color: #0071eb;
  cursor: help;
}

.help {
  all: unset;
  color: #b3b3b3;
  font-size: 12px;
  padding-top: 13px;
  margin-left: 323px;
  font-family: "Noto Sans", sans-serif;
  cursor: pointer;
}
.form-control small {
    font-family: "Noto Sans", sans-serif;
  color: #e86a05;
  letter-spacing: 0.2px;
  font-size: 12px;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error input {
  border-bottom: 1px double #e86a05;
}
.form-control.error small {
  visibility: visible;
}

.form-control.success input {
  background-color: rgb(69, 69, 69);
}

.form {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.signinbutton:hover{
    transition: all 0.3s ease-in-out;
    filter: brightness(73%);
  }