.loader {
  width: 100vw;
  height: 100vh;
  font-size: 20px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader__text {
  font-weight: bolder;
  font-size: 30px;
  color: white;
}

.movietitle {
  display: grid;
  padding-top: 8%;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, 135px);
  gap: 20px;
  align-items: stretch;
  justify-items: stretch;
  padding-left: 58px;
}
.movie {
  all: unset;
}

.rate {
  position: relative;
  z-index: 444;
  transition: all 0.2s ease-in-out;
}
.rate > img {
  all: unset;
  position: relative;
  width: 135px;
  height: 175px;
  transition: all 0.4s ease-in-out;
  border-radius: 1px;
}

.content > h3 {
  all: unset;
  color: white;
  font-family: "Noto Sans", sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin-top: 2px;
}

.content > h5 {
  all: unset;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
}

.content {
  all: unset;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "Noto Sans", sans-serif;
}

.b {
  all: unset;
}
.movietitle > h2 {
  all: unset;
  padding-left: 58px;
  font-size: 18px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  padding-bottom: 30px;
}

.star {
  all: unset;
  font-size: 11px;
  font-family: "Noto Sans", sans-serif;
  position: absolute;
  color: #fff;
  opacity: 0;
  left: 5px;
  width: 200px;
  top: 155px;
  transition: all 0.1s ease-in-out;
}

.rate:hover .star {
  opacity: 1;
}

.rate:hover img {
  filter: brightness(60%);
}

@media screen and (max-width: 1000px) {
  .movies {
    grid-template-columns: repeat(auto-fit, 140px);
    grid-gap: 20px;
    gap: 20px;
    padding-top: 10px;
    padding-left: 20px;
  }

  .movietitle {
    padding-top: 30%;
  }

  .movietitle > h2 {
    padding-left: 20px;
    padding-bottom: 28px;
  }
}
