.navbar{
    position: absolute;
    display: flex;
    flex-direction: row;
    z-index: 2;
}
.nav {
    position: relative;
  display: flex;
  flex-direction: row;
  width: 800px;
  margin-top: 5%;
  justify-content: space-evenly;
  

}

.nav > .a {
  all: unset;
  color: #b3b3b3;
  font-size: 17px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  z-index: 20;
  cursor: pointer;

}

.a:hover {
  color: white;
  transition: color 1s;

}

.navbar > img{
    width: 210px;

}