@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

.back {
  position: absolute;
  min-height: 100%;
  filter: brightness(66%);
}
.back > img {
  width: 100vw;
  min-height: 100px;
  overflow: hidden;
  transition: transform 0.8s ease;
}

.title {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 21% 3%;
}

.title > h1 {
  all: unset;
  font-size: 97px;
  font-weight: 700;
  font-family: "Noto Sans", sans-serif;
}

.title > h4 {
  all: unset;
  font-size: 38px;
  font-family: "Noto Sans", sans-serif;
}

.title > button {
  all: unset;
  background-color: red;
  color: white;
  width: 276px;
  height: 47px;
  margin-top: 31px;
  text-align: center;
  border-radius: 6px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  cursor: pointer;
}

.login__button {
  position: absolute;
  display: flex;
  flex-direction: row;
  padding-left: 90%;
  z-index: 2;
  margin-top: 10px;
}

.login__button > button {
  all: unset;
  background-color: red;
  color: #e4e2e2;
  width: 74px;
  height: 30px;
  margin-top: 25px;
  text-align: center;
  border-radius: 4px;
  font-family: "Noto Sans", sans-serif;
  font-size: 13px;
  cursor: pointer;
  font-weight: 700;
}
